* {
    padding: 0px;
    margin: 0px;

    overflow-x: hidden;
    overflow-y: hidden;

    font-family: sans-serif;
    font-size: 25px;

    box-sizing: border-box;
}
.wrapper {
    width: 100vw;
    height: 100vh;
}
/*header*/
.header {
    width: 100%;
    height: 9%;

    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1B1B1B;
    color: #FEFEFE;

    font-family: monospace;
    letter-spacing: 4px;
    -webkit-text-stroke-color: #1B1B1B;
    -webkit-text-stroke-width: 1px;
}

/*content*/
.contentWrapper {
    width: 100%;
    height: 76%;

    position: absolute;
    top: 9%;
    left: 0%;
}
.mapWrapper {
    width: 34%;
    height: 100%;

    position: absolute;
    top: 0%;
    left: 0%;

    background-color: #2D2D2D;
    color: #FFF;

    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.mapButton {
    cursor: pointer;

    font-size: 10px;

    height: 30px;
    width: 110px;

    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

    border-style: solid;
    border-width: 2px;
    border-color: #FFF;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2D2D2D;
    color: #FFF;

    animation: all ease 500ms;
}
.mapButton:hover {
    background-color: #FFF;
    color: #2D2D2D;
}
.camFeedWrapper {
    width: 50%;
    height: 100%;

    position: absolute;
    top: 0%;
    left: 34%;

    background-color: #3D3D3D;
    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
}
.autoSelectWrapper {
    width: 16%;
    height: 100%;

    position: absolute;
    top: 0%;
    right: 0%;

    background-color: #2D2D2D;
    color: #FFF;
}
.autoItem {
    font-size: 15px;

    width: 100%;
    height: 100px;
    background-color: #2D2D2D;
    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
}
.autoItem:hover {
    background-color: #FFF;
    color: #2D2D2D;
}

/*status*/
.statusWrapper {
    width: 100%;
    height: 15%;

    position: absolute;
    bottom: 0px;
    left: 0px;

    background-color: #1B1B1B;
    color: #FFF;
}
.statusItem {
    width: 20%;
    height: 100%;

    border-top-color: rgb(255,59,48);
    border-top-style: solid;
    border-top-width: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
}
.one {
    position: absolute;
    top: 0%;
    left: 0%;
}
.two {
    position: absolute;
    top: 0%;
    left: 20%;
}
.three {
    position: absolute;
    top: 0%;
    left: 40%;
}
.four {
    position: absolute;
    top: 0%;
    left: 60%;
}
.five {
    position: absolute;
    top: 0%;
    left: 80%;
}